# Node modules
node_modules/

# Logs
logs
*.log

# Dependency directories
node_modules/

# Dist directory
dist/

# Environment variables
.env

# IDE files
.vscode/
.idea/

# macOS
.DS_Store

# Windows
Thumbs.db
